.listagem {
  padding: 40px 20px;
  background-color: #121212;
}

.listagem h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.listagem div {
  background-color: #2c2c2c;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.3s;
}

.listagem div:hover {
  transform: scale(1.05);
}

.listagem h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #fff;
}

.listagem p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #bbb;
}

.listagem .btn-info {
  padding: 10px 20px;
  background-color: #1f80e4;
  color: white;
  border-radius: 5px;
}

