.detalhes {
  padding: 40px 20px;
  background-color: #1a1a1a;
  min-height: 100vh;
}

.detalhes h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.detalhes p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: white;
}

.data {
  font-weight: bold;
  color: white;
}

.filme-poster {
  width: 50%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  
  
}
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}
  