.home {
  text-align: center;
  padding: 381px 20px;
  background-color: #1a1a1a;
  border-bottom: 2px solid #09d9f5;
}

.home h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.home p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #bbb;
}

.home .btn {
  padding: 15px 25px;
  font-size: 1.2rem;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.home .btn:hover {
  background-color: #0056b3;
}